{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}


<h1>Check out your library!</h1>
<hr>
<div class="links">
    <a href="{{ '/photo/add' }}">Click here to add/edit your Photo's</a></br>
    <a href="{{ '/album/add' }}">Click here to add/edit your Albums</a>
<div id='album_gallery'>
    <h3>Albums</h3>
    {% for album in albums %}
    {% thumbnail album.cover.picture "200x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='library_gallery'>
    {% empty %}
    <img src="{% static '/media/photos/strongbad.jpeg' %}" height="200" width="200" class="library_gallery" />
    {% endthumbnail %}
    {% endfor %}
</div>
{% if not albums %}
<div id='no_albums'>
</div>
{% endif %}
<div id='photo_gallery'>
    <hr>
    <br/>
    <h3>Photos</h3>
    {% for photo in photos %}
    {% thumbnail photo.picture "200x200" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='library_gallery'>
    {% endthumbnail %}
    {% endfor %}
</div>



{% endblock %}