<!DOCTYPE html>
<html>
    <head>
        <title>The Three Best Friends That Anyone Could Ever Have</title>
    </head>

    <body>
        <h1> Register!</h1>

        {% if registered %}
        <a href="/dimager/imager/templates/home/">Return to the Homepage</a><br />

        <form id="user_form" method="post" action="/templates/home" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_forms.as_p }}

            <input type="submit" name="sbumit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
